@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-light: #FDF5E2;
  --primary: #FEDA8C;
  --border: #271400;
  --footer: #271d12;
  --footer-secondary: #553919;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary-light: #FDF5E2;
    --primary: #FEDA8C;
    --border: #271400;
    --footer: #271d12;
    --footer-secondary: #553919;
  }
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-light: #061e1c;
    --primary: #000000;
  } */
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  /* background: var(--footer); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

.max-container {
  @apply mx-auto max-w-[1940px] px-3;
}

.pulses{
  animation: pulse 2s infinite;
}
@keyframes pulse {
  50% {
      opacity: .8;
  }
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}